/* You can add global styles to this file, and also import other style files */

.card {
box-shadow: 0 0 1px 2px black;
}

.btn:hover {
opacity:0.8
}

.form-control {
    display:block;
    margin-top: 0.3rem;
}